{% load static %}
<html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="/static/webpage/css/materialize.min.css"  media="screen,projection"/>
      <script type="text/javascript" src="/static/webpage/js/materialize.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

<body class="red lighten-1">

    <div class="container">
        <h1 class="text-center">
            <div class="z-depth-3">
                <div class="card-panel red darken-4"> Choose the Card you Would like to learn</div>
            </div>
        </h1>

    </div>

    
        <div class="row" style="width:420px; left:20px; display: inline-block; margin-right: 40px;">
            <div class="col s12 m4" style="width:100%;">
                <div class="card">
                    <div class="card-image small hoverable">
                        <img src="{% static 'webpage/img/note.jpg' %}">
                        <span class="card-title"><h2 style="color: black;">Note Reading</span></h2>
                    </div>
                    <div class="card-content hoverable">
                        <p>Press here to learn how to read the braille of notes and currency!</p>
                    </div>
                    <div class="card-action hoverable">
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">This is a link</a>
                    </div>
                </div>
            </div>
        </div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 style="color: tomato;">Note Reading</h4>
      <h4>This will guide you to help you recognize the value of the note.</h4>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/KsYRbFbbwXI" 
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
          
        

        
  <div class="row" style="width:420px; left:20px; display: inline-block; margin-right: 40px;">
    <div class="col s12 m4" style="width:100%;">
        <div class="card">
            <div class="card-image small hoverable">
                <img src="{% static 'webpage/img/famous.jpg' %}">
                <span class="card-title"><h2 style="color: white;">Famous Blind people</span></h2>
            </div>
            <div class="card-content hoverable">
                <p>Press here to learn about famous blind people!</p>
            </div>
            <div class="card-action hoverable">
                <a class="waves-effect waves-light btn modal-trigger" href="#modal2">This is a link</a>
            </div>
        </div>
    </div>
</div>



        <div id="modal2" class="modal">
            <div class="modal-content">
              <h4 style="color: tomato;">Famous blind people</h4>
              <h4>Learn more about famous blind people who were big revolutionists!</h4>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/1yRPfyS_LfA" frameborder="0"
               allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>



          <div class="row" style="width:420px; left:20px; display: inline-block; margin-right: 40px;">
            <div class="col s12 m4" style="width:100%;">
                <div class="card">
                    <div class="card-image small hoverable">
                        <img src="{% static 'webpage/img/social.jpg' %}">
                        <span class="card-title"><h2 style="color: white;">Social Skills</span></h2>
                    </div>
                    <div class="card-content hoverable">
                        <p>It's tough for people to understand your physical disability. Learn how to become socially better at  interacting here!</p>
                    </div>
                    <div class="card-action hoverable">
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal3">This is a link</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal3" class="modal">
            <div class="modal-content">
              <h4 style="color: tomato;">Social Skills</h4>
              <h4>This will guide you become a better social being.</h4>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/H_m0ESrkQkY" frameborder="0"
               allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>

    <audio id="sound" preload="auto">
    <source src="Science.mp3">
</audio>


  <script>document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  });</script>
  <script>  M.AutoInit();</script>

</body>

</html>